html,
body {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.content {
    width: 1102px;
    /* background-color: pink; */
    margin: 0 auto;
    /* position: relative; */
    /* overflow: hidden; */
}

#box {
    width: 100%;
    /* height: 100%; */
    background-color: #f9f9f9;
    /* background-color: blue; */
}

/* ----------------------顶部 ---------*/
#box .header {
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    font-size: 12px;
    line-height: 30px;
}

#box .header .fl i {
    color: #ff3893;
}

#box .header .fl a {
    color: #6b6066;
    padding: 0 5px;
}

.fr .welcome {
    margin-right: 16px;
}

.header .fr {
    color: #6b6066;
}

.header .fr a {
    margin: 0 10px;
    color: #6b6066;
}

/* -----------------------------header-item ------------------*/
#box .header-item {
    height: 133px;
    width: 100%;
    background-color: white;
    position: relative;
}

#box .header-item .content {
    position: relative;
}

#box .header-item .content .header-item-list {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 36px 0 36px 0;
}

#box .header-item .fl {
    width: 128px;
    height: 100%;
    line-height: 73px;
    display: inline-block;
}

#box .header-item .fr {
    width: 646px;
    height: 61px;
    line-height: 61px;
    display: inline-block;
    position: relative;
}

#box .header-item img {
    width: 128px;
    height: 73px;
    /* line-height: 133px; */
}

#box .header-item .fr .search .search-text {
    width: 384px;
    height: 30px;
    border: 3px solid #fa4a98;
}

#box .header-item .fr .search .searchButton {
    width: 100px;
    height: 36px;
    background-color: #fa4a98;
}

#box .header-item .fr .shopcar {
    width: 100px;
    height: 36px;
    border: 1px solid #f4f4f4;
    text-align: center;
    line-height: 36px;
    position: absolute;
    top: 14px;
    right: 0px;
}
.shopcar .cart-more{
    position: absolute;
    top: 38px;
    right: 0;
    border: 1px solid #fa4b9b;
    background-color: white;
    }
    .shopcar .cart-more .empty{
    padding: 2px;
    width: 270px;
    text-align: center;
    font-size: 12px;
    /* display: none; */
    }
#box .header-item .fr i {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #fa4a98;
    position: absolute;
    right: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #f4f4f4;
}

#box .header-item .fr .msg {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding: 0 12px;
}

#box .header-item .fr .msg a {
    color: #666;
}

/* ---------------------------nav --------*/
#box .nav {
    background-color: #ff3893;
    width: 100%;
    height: 46px;
}

#box .nav .fl {
    height: 46px;
    width: 100%;
    /* background-color: yellow; */
}

#box .nav .fl li {
    float: left;
    height: 100%;
    /* background-color: yellow; */
    font-size: 16px;
    line-height: 46px;
}

#box .nav .fl img {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
    transition: 0.3s;
    transform: rotate(90deg);
}

.current {
    display: block;
}

#box .nav .fl .tr:hover img {
    transform: rotate(-90deg);
}

#box .nav .fl .li-list a:hover {
    background-color: #ff3893;
    color: white;
}

#box .nav .fl li:nth-child(4) {
    position: relative;
}

#box .nav .fl .li-list {
    width: 100%;
    position: absolute;
    border: 1px solid black;
    border-top: none;
    background-color: white;
    z-index: 1;
    top: 46px;
    left: 0;
    display: none;
}

#box .nav .fl .li-list a {
    padding: 0 8px;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}

#box .nav .fl .li-list a span {
    padding: 0 22px;
    display: block;
    margin-top: -1px;
    border-top: 1px dashed red;
}

#box .nav .fl li:nth-child(1) {
    margin-left: 230px;
    background-color: #ec0971;
}

#box .nav .fl li:hover {
    background-color: #ec0971;
}

#box .nav .fl li a {
    height: 100%;
    color: white;
    display: inline-block;
    padding: 0 30px;
}

/* #box .menus{
    position: relative;
} */
/* -----------------------------menus----------------------- */
#box .menus .cai  {
    width: 230px;
    height: 645px;
    /* background-color: red; */
    border-right: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 160px;
    left:125px;
    background-color: white;

}

#box  .menus .title {
    background-color: #fc3b95;
    height: 52px;
    line-height: 52px;
    font-size: 17px;
    color: white;
}

#box  .menus .title h3 {
    margin-left: 21px;
}

#box  .menus dl {
    /* border-left: 1px solid white;
    border-right: 1px solid blue; */
    width: 230px;
    height: 74px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: relative;
}

#box  .menus dl dt {
    /* width: 210px; */
    margin-left: 21px;
    width: 80%;
    height: 74px;
    border-top: 1px dashed red;
    box-sizing: border-box;
    position: relative;
    top: -1px;
}

/* #box .nav .menus dl dt:nth-last-child(1){  
   border-bottom: none;
} */
#box  .menus dl dt strong a {
    display: inline-block;
    font-size: 13px;
    height: 13px;
    line-height: 13px;
    margin-top: 9px;
    margin-bottom: 6px;
    color: #fc3b95;
}

#box .menus dl p {
    width: 173px;
    overflow: hidden;
}

#box .menus dl p a {
    margin-right: 6px;

    font-size: 12px;
    color: #616669;
}

/*----------------------------- menus dl dd ---------------*/

.toggle {
    display: none;
    border: 1px solid red;
    border-left: none;
}

.er:hover {
    border: 1px solid red;
    border-right: none;
    border-left: 2px solid red;
    box-sizing: border-box;
}

#box  .menus dl dt:hover {
    border-bottom: none;
    box-sizing: border-box;
}

#box  .menus dl .one,
#box  .menus dl .two,
#box  .menus dl .three {
    width: 570px;
    position: absolute;
    top: 0;
    left: 228px;
    background-color: white;
    display: none;
}

#box  .menus dl .four {
    width: 570px;
    position: absolute;
    bottom: -298px;
    left: 228px;
    background-color: white;
    display: none;
}

#box  .menus dl .five {
    width: 570px;
    position: absolute;
    bottom: -224px;
    left: 228px;
    background-color: white;
    display: none;
}

#box  .menus dl .six {
    width: 570px;
    position: absolute;
    bottom: -150px;
    left: 228px;
    background-color: white;
    display: none;
}

#box  .menus dl .seven {
    width: 570px;
    position: absolute;
    bottom: -76px;
    left: 228px;
    background-color: white;
    display: none;
}

#box  .menus dl .eight {
    width: 570px;
    position: absolute;
    bottom: -1px;
    left: 228px;
    background-color: white;
    display: none;
}

/* #box .nav .menus dl .public{
    border: 1px solid white;
} */
#box .menus dl .public .bi {
    margin: 15px;
    height: 400px;
    /* background-color: pink; */
    position: relative;
}

/* #box .nav .menus dl dd h3{
   border-bottom: 1px solid #fdfdfd;
} */
#box  .menus dl .public .yinul {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    /* background-color: yellow; */
}

#box .menus dl .public .colum {
    width: 250px;
    position: absolute;
    left: 0;
    top: 108px;
    /* background-color: blue; */
}

#box  .menus dl .public .yinimg {
    float: right;
    width: 244px;
    display: block;
}

#box  .menus dl .public .yinul a,
#box  .menus dl .public .colum a,
    {
    margin-right: 8px;
    line-height: 2;
    font-size: 12px;
    float: left;
}

#box .menus dl .public a .table {
    float: left;
    width: 80px;
    height: 80px;
    /* display: block; */
}

#box  .menus dl .public a .table img {
    width: 80px;
    height: 80px;
}

/* -------------------------.banner----------------------- */
#box .banner .i {
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
}

#box .banner .i img {
    height: 480px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

/*---------------------------- banner-item----------------- */

#box .banner-item .bannerdes {
    width: 862px;
    height: 106px;
    margin-left: 240px;
    background-color: white;
    margin-top: 10px;
}

#box .banner-item .bannerdes h3 {
    display: inline-block;
    padding: 0 24px;
    font-size: 15px;
    color: black;
}

#box .banner-item .bannerdes a img {
    width: 14%;
    height: 100%;
}

/* -----------foryou----------------- */
#box .foryou {
    width: 100%;
}

#box .foryou h3,
#box .topitem h3 {
    font-size: 25px;
    color: black;
    padding-top: 30px;
    padding-bottom: 22px;

}

#box .foryou h3 span,
#box .topitem h3 span {
    margin-left: 20px;
    font-size: 18px;
    color: #999;
}

#box .foryou .foryoulist {
    height: 688px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
}

#box .foryou .foryoulist .dess {
    float: left;
    height: 344px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    flex: 1;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}

#box .foryou .foryoulist .dess div img {
    width: 100%;
    /* height: 242px; */
}

#box .foryou .foryoulist .dess .bott {
    position: relative;
    padding: 15px 15px 0px 15px;
}

#box .foryou .foryoulist .dess .bott p {
    font-size: 12px;
}

#box .foryou .foryoulist .dess .bott p:nth-child(1) {
    color: black;
    font-weight: 700;
}

#box .foryou .foryoulist .dess .bott p:nth-child(2) {
    color: #999;
}

#box .foryou .foryoulist .dess .bott .bott2 {
    margin-top: 19px;
    margin-bottom: 15px;
}

#box .foryou .foryoulist .dess .bott .bott2 .new {
    display: block;
    color: red;
    margin-bottom: 5px;
    font-size: 13px;
}

#box .foryou .foryoulist .dess .bott .bott2 .new em {
    font-size: 16px;
}

#box .foryou .foryoulist .dess .bott .bott2 .old {
    display: block;
    color: #999;
    font-size: 12px;
}

#box .foryou .foryoulist .dess .bott .bott2 .old em {
    text-decoration: line-through;
}

#box .foryou .foryoulist .dess .bott .buy {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 14px;
    background-color: #ff4947;
    font-size: 12px;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 17px;
    padding: 0 15px;
}

#box .foryou .foryoulist .dess .bott .go {
    font-size: 12px;
    display: block;
    color: #999;
    position: absolute;
    right: 15px;
    bottom: -2px;
}

/*----------------------- topitem ------------------*/
/* #box .topitem-list{
      background-color: white;
  } */
/* #box .topitem .topitem-list {
    background-color: #ffffff;
  } */
#box .topitem .list1 {
    padding-left: 20px;
    border: 1px solid #efefef;
    margin-bottom: 17px;
    background-color: #ffffff;
}

#box .topitem .list1 .tit {
    display: inline-block;
    margin-top: 25px;
}

#box .topitem .list1 span img {
    display: inline-block;
    width: 76px;
    height: 76px;
    border: 2px solid #f4f4f4;
    border-radius: 8px;
    margin-right: 10px;
}

#box .topitem .list1 .list1-1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 27px;
}

#box .topitem .list1 .list1-1 .list1-img {
    position: relative;
}

#box .topitem .list1 .list1-1 .list1-img .dess {
    position: absolute;
    border: 1px solid #f72283;
    border-radius: 28px;
    color: #f72283;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    overflow: hidden;
    /* max-width:80px ; */
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    text-align: center;
    background-color: white;
    /* opacity: 0.9; */
}

#box .topitem .list1 .list1-1 a {
    display: block;
    margin-right: 18px;
}

#box .topitem .list1 .list1-1 a img {
    display: block;
    width: 100%;
}

#box .topitem .list1 .list1-1 .list1-des p {
    height: 48px;
    line-height: 24px;
    font-size: 14px;
    overflow: hidden;
    color: black;
}

#box .topitem .list1 .list1-1 .list1-des .new {
    color: #fa4b9b;
    font-size: 20px;
    font-weight: 700;

}

#box .topitem .list1 .list1-1 .list1-des .old {
    color: #999;
    padding: 0;
    text-decoration: line-through;
}

/* -------------------footer------------------ */

#box .footer {
    width: 100%;
    border-top: 1px solid #f2f2f0;
    border-bottom: 1px solid #f2f2f0;
    background-color: #ffffff;
}

#box .footer .six {
    width: 100%;
    padding: 23px 0 17px 0;
    border-bottom: 1px solid #f2f2f0;
}

#box .footer .six a {
    display: inline-block;
    text-align: center;
    width: 16%;
    font-size: 13px;
    color: #999;
}

#box .footer .six a i {
    display: block;
    font-size: 60px;
    text-align: center;
    /* width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%; */
    margin: 0 auto;
    color: #fe4d9b;
}

#box .footer .six a b {
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

/*------------------------- footer-msg ------------*/
#box .footer .footer-msg .fix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#box .footer .footer-msg {
    margin-top: 20px;
}

#box .footer .footer-msg .fl {
    height: 100%;
    margin-left: 96px;
    /* font-size: 12px */
}

#box .footer .footer-msg .fl ul {
    float: left;
    font-size: 12px;
    width: 130px;
    /* margin-right: 13px; */
}

#box .footer .footer-msg .fl ul .big,
#box .footer .footer-msg .fr ul .big {
    font-size: 13px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    width: 140px;
}

#box .footer .footer-msg .fl .tel {
    width: 200px;
}

#box .footer .footer-msg .fl ul li {
    font-size: 12px;
    height: 27px;
    line-height: 27px;
}

#box .footer .footer-msg .fl ul a {
    color: #999;
}

#box .footer .footer-msg .fr {
    width: 186px;
    height: 168px;
    border-left: 1px solid #f2f2f0;
    margin-right: 60px;

}

#box .footer .footer-msg .fr li {
    padding-left: 18px;
}

#box .footer .footer-msg .fr li img {
    float: left;
    margin-right: 8px;
}

/* ----------------------footerlist-------------------- */
#box .footerlist {
    background-color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #979797;
}

#box .footerlist p {
    color: #979797;
    font-size: 12px;
    text-align: center;
    padding: 18px 0;
}

#box .footerlist p a {
    color: #666;
    padding: 0 14px;
}

#box .footerlist a {
    color: #666;
}

#box .footerlist img {
    display: inline-block;
    height: 33px;
}


.clfd::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}